@import url("https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Halant", serif;
  font-family: "Manrope", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

/* Flex Container */

.flex-container {
  display: flex;
  align-items: center;
  padding: 8px 32px;
  justify-content: space-between;
  border: 2px solid #155eef;
  border-radius: 8px;
  margin: 2% 3%;
  flex-wrap: wrap;
}

.stew {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  font-family: "Halant";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #041330;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.hire {
  border: 1px solid #155eef;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #155eef;
  background-color: white;
  cursor: pointer;
  width: 94px;
  padding: 10px 16px;
  flex-wrap: wrap;
}

.hamburger {
  display: none;
}

/* Container */

.container {
  background-color: #f9fbff;
  display: flex;
  margin: 0.5% 3%;
  justify-content: space-between;
  align-items: center;
  padding: 64px 32px;
  border: 2px solid #155eef;
  border-radius: 8px;
  flex-wrap: wrap;
}

.mine {
  width: 45%;
}

.guy {
  font-family: Halant;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-align: left;
}

.sam {
  font-family: "Halant";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  color: #155eef;
}

.you {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #2e3a53;
  flex-grow: 1;
}

.but {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  background: #155eef;
  border-radius: 8px;
  color: #ffffff;
  width: 30%;
  padding: 2% 2.5%;
  cursor: pointer;
  border: none;
  flex-wrap: wrap;
}
.container > img {
  width: 45%;
}

/* About */

.about {
  display: flex;
  margin: 3% 3%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 64px 32px;
  border: 2px solid #155eef;
  border-radius: 8px;
  flex-wrap: wrap;
}

.bod {
  width: 45%;
}

.grey {
  width: 45%;
}

.see {
  font-family: "Halant";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #041330;
}

.gone {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.5px;
  flex-grow: 1;
  color: #2e3a53;
}

/* Projects */

.project {
  border: 2px solid #155eef;
  border-radius: 8px;
  margin: 3% 3%;
  padding-bottom: 7%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3%;
}

.pro {
  position: relative;
  display: flex;
}

.poj {
  gap: 24px;
  padding-top: 3%;
  padding-bottom: 4%;
  padding-left: 5%;
  padding-right: 2%;
  width: 56%;
  background: #f9fbff;
  z-index: 2;
}

.poj > h2 {
  font-family: Halant;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #041330;
}

.poj > ul {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #2e3a53;
  padding-left: 2.5rem;
  padding-top: 2%;
}

.poj > p {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #2e3a53;
}

.boy {
  width: 55%;
  position: absolute;
  right: 1%;
  top: 20%;
}

.boy img {
  width: 100%;
}

/* Footer */

.link {
  border: 2px solid #155eef;
  border-radius: 8px;
  margin: 3% 3%;
  align-items: center;
  padding: 6px 14px;
  width: 94%;
  flex-wrap: wrap;
}

.foot {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.grind {
  width: 100%;
}
.logos {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.reed {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #041330;
  width: 60%;
}

@media screen and (max-width: 399px) {
  /* Flex container*/

  .flex-container {
    padding: 0px 16px;
    width: 93.5%;
  }

  .leg img {
    width: 45%;
  }

  .stew {
    display: none;
  }
  .hamburger {
    display: inline;
  }

  /* Container*/

  .container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: center;
    flex-wrap: wrap;
  }

  .mine {
    width: 98%;
  }

  .guy {
    font-size: 16px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
  }

  .sam {
    font-size: 32px;
    padding-top: 0;
    text-align: center;
    flex-wrap: wrap;
  }

  .you {
    font-size: 16px;
  }

  .but {
    width: 98%;
  }

  .container img {
    width: 100%;
  }

  /* About */

  .about {
    display: flex;
    flex-direction: column-reverse;
    padding: 32px 16px;
    flex-wrap: wrap;
  }

  .bod {
    width: 100%;
  }

  .grey {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
  }

  .see {
    text-align: center;
    font-family: Halant;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    color: #041330;
  }

  .gone {
    font-size: 16px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #2e3a53;
    text-align: justify;
  }

  /* Project */

  .project {
    background: #f9fbff;
    gap: 16px;
  }

  .poj {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .poj > ul {
    gap: 10px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #2e3a53;
    padding-left: 1.5rem;
    padding-top: 2%;
  }

  .poj > p {
    gap: 10px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #2e3a53;
  }

  .poj > h2 {
    padding-top: 4%;
    font-family: Halant;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 0em;
    text-align: center;
    color: #041330;
  }

  .project .boy {
    display: none;
  }

  /* Footer */

  .link {
    padding: 0px 0px 16px 0px;
    width: 94.5%;
  }

  .foot {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0rem;
    padding-top: 2%;
  }

  .grind {
    width: 60%;
    flex-wrap: wrap;
  }

  .grind img {
    width: 70%;
  }

  .logos {
    width: 30%;
    gap: 0.7rem;
    padding-right: 2%;
    flex-wrap: wrap;
  }

  .reed {
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5%;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4988210201263428px;
    color: #041330;
    width: 100%;
  }
}
